<%= form_tag({controller: "import", action: "create"}, multipart: true, remote: true) do |f| %>
  <div class="file-field input-field">
    <div class="btn">
      <span>Your CSV File</span>
      <%= file_field_tag :file, required: true, accept: ".csv" %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
    <br />
    <%= submit_tag 'Import', class: "btn blue waves-light" %>
  </div>
<% end %>
<br />
<br />
<br />
<div id="job-id-container">
  <div id="job-id">
    <div class="progress hide">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>
